services:
  db:
    image: mariadb:10.5
    container_name: db
    ports:
      - "3308:3306"
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_USER: local
      MYSQL_PASSWORD: local
      MYSQL_DATABASE: local
      MYSQL_ROOT_PASSWORD: local
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  backend:
    build:
      context: ./backend
      target: runner
    container_name: backend
    ports:
      - "2727:2727"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 3306
    healthcheck:
      test: [ "CMD", "curl", "-sf", "http://localhost:2727/metrics" ]
      start_period: 10s
      interval: 60s
      timeout: 5s
      retries: 3

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app

  node:
    image: arm64v8/node:23
    container_name: node-cmd
    working_dir: /app
    volumes:
      - ./frontend:/app

volumes:
  db-data:
